
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <!--<input type= "hidden" name = "UserId" [value] = "service.formData.UserId"> -->
    <div class="form-group">
        <input name="Name" #Name="ngModel"[(ngModel)]="service.formData.Name"  class="form-control" placeholder="Name" required> 
    </div>
    <div class="form-group">
        <input name="LastName" #LastName="ngModel"[(ngModel)]="service.formData.LastName"  class="form-control" placeholder="LastName" required>
    </div>
    <div class="form-group">
        <input type="email" name="Email" #Email="ngModel"[(ngModel)]="service.formData.Email"  class="form-control" placeholder="Email" required>
    </div>
    <div class="form-group">
        <input type="password" name="Password" #Password="ngModel"[(ngModel)]="service.formData.Password"  class="form-control" placeholder="Password" required minlength="3" maxlength="30"> 
    </div>
    <div class="form-group">
        <input type="password" name="ConfirmedPassword" #ConfirmedPassword="ngModel"[(ngModel)]="service.formData.ConfirmedPassword"  class="form-control" placeholder="Confirm Password"required minlength="8" maxlength="30"> 
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit" [disabled] = "form.invalid">
         Register
        </button>
    </div>

</form>
