<nav class="navbar navbar-dark bg-primary">
    <a class ="navbar-brand text-white">Hello  {{userDetails.name}}</a>
   
   <button class="btn btn-danger my-2 my-sm-0" (click)=onLogout()>Logout</button>
   
</nav>
<!-- *ngIf= 'isAdmin'  -->
<div  class="btn-group">
  <button type="button" class="btn btn-secondary" (click) = seeProfile()>Profile</button>
  <button type="button" class="btn btn-secondary" (click) = showSeances() >Show Seances</button>
  <button type="button" class="btn btn-secondary" (click) = showReservations() >Reservations</button>
</div>

<div  class="btn-group" *ngIf="isAdmin">
  <button type="button" class="btn btn-secondary" (click) = goToAddForm()>Add Movie</button>
  <button type="button" class="btn btn-secondary" (click) = showMovies() >Show Movies</button>
  <button type="button" class="btn btn-secondary" (click) = goToAddSeanceForm() >Add Seance</button>
</div >