/* You can add global styles to this file, and also import other style files */
div.form-group{
    width: 72%;
    }

#toast-container > div {
    opacity: 1;
}
div.tab-header{
    cursor: pointer;
}